video#vidFondo {
    position: fixed;
  width: 100vw;
  height: 100vh;
    z-index: -100;
    left: 0;
    top: 0;
  object-fit: cover;
  background: #dbe5e8;

}

.contenedor{
  background-color: rgba(242, 242, 242, 0.5);
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  min-height: 700px;
  height: auto;
  align-content: flex-start;
}

.rowTitulo{
  width: 100%;
  text-align: center;
  background-color: #648C7D;
  color: #F2F2F2;
  margin-top: 0;
  margin-bottom: 0;
  height: 130px;
}
.colFiltros{
  width: 25%;
  height: 100%;
  min-height: 570px;
}
.filtrosContenido, .colContenido, .colFiltros form{
  min-height: 570px;
}
.filtrosContenido{
  width: 100%;
  margin: 0 0;
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.tituloFiltros{
  width: 100%;
  height: 100px;
  text-align: center;
}
.tituloFiltros h5{
    font-size: 1.3rem;
}
.filtroCiudad{
  width: 100%;
  height: 100px;
  text-align: center;
}
.filtroCiudad .select-wrapper{
  margin: 25px auto;
  width: 90%;
}
.filtroTipo{
  width: 100%;
  height: 100px;
  text-align: center;
}
.filtroTipo .select-wrapper{
  margin: 5px auto;
  width: 90%;
}
.filtroPrecio{
  margin: 15px auto;
  width: 90%;
  height: 100px;
}
.filtroPrecio label{
  font-size: 1rem;
}
.botonField{
  width: 100%;
  height: 70px;
  text-align: center;
}
.botonField input{
  color: #648C7D;
}
.colContenido{
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  padding: 20px;
}
.tituloContenido{
  width: 100%;
  min-height: 170px;
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
}
.tituloContenido h5{
  width: 100%;
  margin: 0.5rem 5px;
  margin-bottom: 2rem;
  height: 10px;
  font-size: 2rem;
}

.tituloContenido button{
  background: #648C7D;
  color: #F2F2F2;
  margin-top: 2rem;
  margin-right: 1rem;

}
.divider{
  width: 100%;
}
.itemMostrado{
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  flex-flow: row nowrap !important;
  align-items: stretch;
  height: 225px;
}
.itemMostrado img{
  width: 100% !important;
  height: 225px;
  object-fit: cover;
}
.itemMostrado .card-image{
  width: 100% !important;
  min-width: 0;
  flex: 0 0 35%;
}
.itemMostrado .card-content{
  padding: 18px;
}
.itemMostrado .card-content p{
  margin: 0 0 5px;
}
.precioTexto{
  font-size: 1.3rem;
  color: #ffab40;
}
.card-stacked{
  width: 100%;
  min-width: 0;
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-content h6{
  font-weight: bold;
}
.card-action{
  text-align: right;
  color: #333;
  font-weight: 500;
}

@media only screen and (max-width: 700px){
  .itemMostrado .card-image,
  .itemMostrado .card-stacked{
    width: 100% !important;
    min-width: 100%;
  }
  .itemMostrado img{
    height: 150px;
  }
  .itemMostrado{
    flex-flow: row wrap !important;
    height: auto;
    min-height: 0;
  }
}
